<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>롯데가온</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style-base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-home.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-members.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-mypage.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-sign.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-place.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-qrcode.css' %}">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'script.js' %}" type="text/javascript"></script>
    <script src="{% static 'script-place.js' %}" type="text/javascript"></script>
    <link rel="shortcut icon" href="../static/img/logo.ico"/>
</head>

<body>
    <div class="background-nav">
        <div class="background-nav-link">
            <a href="{%url 'home'%}" class="home_page">서비스</a><br><br>
            <a href="{%url 'place'%}" class="place_page">가능지역</a><br><br>
            <a href="{%url 'members'%}" class="members_page">구성원</a><br><br><br>
            {% if user.is_authenticated %}
            <a href = "{%url 'boxqrcode'%}" class="qrcode_page">QR</a><br><br>
            <a href = "{%url 'mypage'%}" class="mypage_page">마이페이지</a><br><br>
            <a href = "{%url 'logout_view'%}">로그아웃</a><br><br>
            {% else %}
            <a href = "{%url 'signin'%}" class="signin_page">로그인</a><br><br>
            <a href = "{%url 'signup'%}" class="signup_page">회원가입</a>
            {% endif %}
        </div>
    </div>
    <nav>
        <div id="nav_container">
            <a href="{%url 'home'%}"><img src="{% static 'img/mainLogo.png' %}"></a>
            <a href="{%url 'home'%}" class="nav-link home_page">서비스</a>
            <a href="{%url 'place'%}" class="nav-link place_page">가능지역</a>
            <a href="{%url 'members'%}" class="nav-link members_page">구성원</a>
            {% if user.is_authenticated %}
            <a href = "{%url 'logout_view'%}" class="nav-link">로그아웃</a>
            <a href = "{%url 'mypage'%}" class="nav-link mypage_page">마이페이지</a>
            <a href = "{%url 'boxqrcode'%}" class="nav-link qrcode_page">QR</a>
            {% else %}
            <a href = "{%url 'signup'%}" class="nav-link signup_page">회원가입</a>
            <a href = "{%url 'signin'%}" class="nav-link signin_page">로그인</a>
            {% endif %}
        </div>
    </nav> 
    


    
    <section>

{% block content %}
{% endblock %}

</section>
<footer>
    <div class="footer">
        <div class="footerInfo1">
            <a href="https://www.lotteglogis.com/home/policy/privacy" target="_blank"><strong>개인정보처리방침</strong></a>
            <a href="https://www.lotteglogis.com/home/policy/video" target="_blank">영상정보기기운영/관리방침</a>
            <a href="https://www.lotteglogis.com/home/policy/standard" target="_blank">택배표준약관</a>
            <a href="https://www.lotteglogis.com/home/policy/safetyManagement" target="_blank">안전보건방침</a>
            <a href="https://www.lotteglogis.com/home/policy/emailReject" target="_blank">이메일주소무단수집거부</a>
            <div class="footerInfo1-div1"> 
                패밀리 사이트 <span class="footerInfo1-div-arrow1">▲</span>
                <div class="dropdown-content1">
                    <a href="#">롯데 글로벌로지스</a>
                    <a href="#">롯데 멤버스</a>
                    <a href="#">롯데 GFR</a>
                    <a href="#">FRL 코리아</a>
                </div>
            </div>
            <div class="footerInfo1-div2"> 
                부가 서비스 <span class="footerInfo1-div-arrow2">▲</span>
                <div class="dropdown-content2">
                    <a href="http://tos.lottegl.com/if/user_check.jsp" target="_blank">의류B2B 설문조사</a>
                    <a href="https://tos.lottegl.com/if/b2b/index.jsp" target="_blank">의류반품/점간이동</a>
                    <a href="http://www.tradesign.net/ra/lotteglogis" target="_blank">공인인증센터</a>
                    <a href="https://truck.llogis.com/portal/index.lgl" target="_blank">화물정보망</a>
                </div>
            </div>
        </div>
        <div class="footerInfo2">
            <img class="footerInfo2_img" src="{% static 'img/footerLogo.png' %}">
            <div class="footerInfo2_font">
                서울시 중구 통일로 10(연세 세브란스 빌딩) 대표자 : 박찬복 택배고객센터 1588-2121 <br>
                사업자등록번호 : 102-81-23012 통신판매신고 : 제2017-서울중구-0433호 <br><br>
                <span>COPYRIGHT © 2019 LOTTE GLOBAL LOGISTICS CO,.LTD ALL RIGHTS RESERVED.</span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
<a href="#" class="nav-button">
    <div class="nav-button-box">
        <div class="nav-button-slash1"></div>
        <div class="nav-button-slash2"></div>
        <div class="nav-button-slash3"></div>
    </div>
</a>
<a href="#" class="top"><div><img src="{% static 'img/direction.png' %}"></div></a>

<div class="switch">
    <div class="switch1"></div>
    <div class="switch2"></div>
    <div class="switch3"></div>
</div>
<div class="background-place">
        
    <div class="background-place-container">
        <div class="background-place-h1"><strong>지역선택</strong></div>
        <div class="background-place-content background-place-1">
            서울 <span class="triangle1">▼</span>
            <div class="background-place-container2" style="display: none;">
                <div class="background-place-content2 background-place-1">
                    강남구 <span class="triangle2">▶</span>
                    <div class="background-place-container3" style="display: none;">
                        <div class="background-place-content3" name="1">
                            신사동 래미안
                        </div>
                        <div class="background-place-content3" name="2">
                            압구정동 어울림
                        </div>
                        <div class="background-place-content3" name="3">
                            대치동 더샵
                        </div>
                        <div class="background-place-content3" name="4">
                            논현동 신도브레뉴
                        </div>
                        <div class="background-place-content3" name="5">
                            일원동 중앙하이츠빌
                        </div>
                    </div>
                </div>
                <div class="background-place-content2 background-place-1">
                    송파구 <span class="triangle2">▶</span>
                    <div class="background-place-container3" style="display: none;">
                        <div class="background-place-content3" name="6">
                            오륜동 미지엔
                        </div>
                        <div class="background-place-content3" name="7">
                            잠실2동 좋은집
                        </div>
                        <div class="background-place-content3" name="8">
                            송파1동 꿈에그린
                        </div>
                    </div>
                </div>
                <div class="background-place-content2 background-place-1">
                    강동구 <span class="triangle2">▶</span>
                    <div class="background-place-container3" style="display: none;">
                        <div class="background-place-content3" name="9">
                            천호1동 SKview
                        </div>
                        <div class="background-place-content3" name="10">
                            강일동 Xi
                        </div>
                        <div class="background-place-content3" name="11">
                            상일동 몰라
                        </div>
                        <div class="background-place-content3" name="12">
                            암사2동 현진에버빌
                        </div>
                    </div>
                </div>
                <div class="background-place-content2 background-place-1">
                    노원구 <span class="triangle2">▶</span>
                    <div class="background-place-container3" style="display: none;">
                        <div class="background-place-content3" name="13">
                            공릉1동 e편한세상
                        </div>
                        <div class="background-place-content3" name="14">
                            상계1동 미소지음
                        </div>
                        <div class="background-place-content3" name="15">
                            상계3.4동 래미안
                        </div>
                        <div class="background-place-content3" name="16">
                            하계1동 중앙하이츠빌
                        </div>
                    </div>
                </div>
                <div class="background-place-content2 background-place-1">
                    용산구 <span class="triangle2">▶</span>
                    <div class="background-place-container3" style="display: none;">
                        <div class="background-place-content3" name="17">
                            남영동 경남아너스빌
                        </div>
                        <div class="background-place-content3" name="18">
                            용문동 꿈에그린
                        </div>
                        <div class="background-place-content3" name="19">
                            이촌1동 아이파크
                        </div>
                        <div class="background-place-content3" name="20">
                            서빙고동 e편한세상
                        </div>
                        <div class="background-place-content3" name="21">
                            남영동 더샵
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="background-place-content background-place-2">
            경기 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            인천 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            강원 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            제주 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            대전 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            충북 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            충남/세종 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            부산 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            울산 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            경남 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            대구 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            경북 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            광주 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            전남 <span class="triangle1">▼</span>
        </div>
        <div class="background-place-content background-place-2">
            전주/전북 <span class="triangle1">▼</span>
        </div>
        <span class="background-place-alert">※ 아직 서비스 준비중인 지역입니다 ※</span>
        <div class="background-place-close">close</div>
    </div>
    
</div>
<div class="background-qrcode">
    <div class="background-qrcode-container">
        
        <div class="img_box"><img></div>
        <span>운송장번호 : 99999999999</span>
    </div>
        <div class="background-qrcode-close">close</div>
</div>