{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="now_page" style="display:none;">signup</div>
<section class="login">
    <img src="{% static 'img/logo.png' %}" alt="logo">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="signup_place_search"><span>지역검색</span><img src="{% static 'img/search.png' %}"></div><br>
        <input name="customer_location" id="status" class="passValue" value="" style="visibility: hidden; width:0px; height:0px;" required><br>
        <input type="submit" value="박스추가"><br>
    </form>
    {% if box_num == "" %}
    {% else %}
    <div style="text-align: center; color:#e05247;"> {{box_num}} 박스가 추가되었습니다.</div>
    {% endif %}
</section>
{% endblock %}