{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="now_page" style="display:none;">home</div>
<div class="img1_container">
    <div class="img1_image">
        <img src="{% static 'img/1.png' %}">
    </div>
    <div class="img1_text" style="display:none; width:100%;">
        온기를 더하다, <span>롯데 가온</span>
    </div>
</div>
<div class="background">
</div>
<div class="content 1" style="height: 650px; top:710px;">
    <div class = "contentImg1">
        <img src="{% static 'img/money.png' %}">
    </div>
    <div class="text-container text1" style="width:60%; float:left; display:none;">
        <div class="text1_box">
            <span class="text-fitter0" style="font-size: 25px; color:#ec1d25; font-weight: 500;">실버택배</span><br>
            <span class="text-fitter1" style="font-size: 20px; font-weight: 600;">함께, 더 멀리</span>
            <span class="text-fitter2" style="font-size: 15px; font-weight: 300;"><br><br><strong>어깨 펴세요 기사님!</strong><br>폭증하는 택배 물량으로 과도하고 열악한 근무환경에 노출돼 있던<br>기존 택배 기사님들에게 힘이 되어 줄 택배 시스템의 혁신적 변화<br><br></span>
            <span class="text-fitter2" style="font-size: 15px; font-weight: 300;"><strong>함께해요 어르신!</strong><br>시니어 일자리 창출을 통해 고령화 사회를 마주한<br>우리 동네에 불어 올 건강하고 활력있는 바람<br><br></span>
            <span class="text-fitter2" style="font-size: 15px; font-weight: 300;"><strong>신속함 그리고 믿음직함!</strong><br>체계적인 분업을 통한 배송과정 간략화,<br>그리고 우리 동네 어르신들의 안전한 서비스</span>
        </div>
    </div>
</div>

<!-- 2번째 내용 -->
<div class="content 2" style="height: 600px; top:1380px;">
    <div style="position: relative; height:400px; width:100%;">
        <div class="text-container text2" style="position: absolute; left:0; top:0; width:40%; display: none;">
            <div class="text2_box">
                <span class="text-fitter0" style="font-size: 25px; color:#ec1d25; font-weight: 500;">SERVICE </span><br>
                <span class="text-fitter1" style="font-size: 20px; font-weight: 600;">택배에 온기 더하기</span>
                <span class="text-fitter2" style="font-size: 15px; font-weight: 300;"><br><br>어르신들의 업무를 도와드릴,<br>직관적이고 간편한 '롯데 가온'<br>배송관리 어플리케이션<br><br></span>
                <span class="text-fitter2" style="font-size: 15px; font-weight: 300;">체계화된 롯데 가온 서비스 시스템으로<br>안전하고 정확하게</span>
            </div>
        </div>
        <div style="position:absolute; right:0; top:0; width:60%; display: none;" class="contentImg2">
            <div class="youtube1">
                <iframe src="https://www.youtube.com/embed/jCzHUarGsbA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div style="display:none; position: relative;" class="content2-text">
        <div class= "content2-subbox"style="display:inline-block; width:39%; height:200px;"></div>
        <div class= "content2-cardbox"  style="display:inline-block; width:60%;">
            <div style="width:88%; margin:0 auto; padding-top:30px;">
                <div class="content2-card">
                    <img src="{% static 'img/icon1.png' %}">
                    <span class="content2-card-text">
                        효울적인 배송 시스템<br>
                        <span class="content2-card-span">기존 기사님들의 업무에서 과도한 잡무들을 분리함으로써<br> 극대화된 배송 과정의 효율성.</span>
                    </span>
                </div>
                <div class="content2-card">
                    <img src="{% static 'img/icon2.png' %}">
                    <span class="content2-card-text">
                        직관적 배송 관리<br>
                        <span class="content2-card-span">QR코드와 앱을 통한 배송 과정 관리를 통해<br>빈틈없는 서비스 제공.</span>
                    </span>
                </div>
                <div class="content2-card">
                    <img src="{% static 'img/icon3.png' %}">
                    <span class="content2-card-text">
                        정확하고 안전한 배송<br>
                        <span class="content2-card-span">우리 동네 이웃 주민 어르신들이 직접 전하는 안전한 온기.</span>
                    </span>
                </div>
                <div class="content2-card">
                    <img src="{% static 'img/icon4.png' %}">
                    <span class="content2-card-text">
                        간편한 정보 조회<br>
                        <span class="content2-card-span">서비스 가능 동네, 우리동네 어르신 그리고 배송 업무 내역까지.<br> 필요한 정보들의 간편한 조회.</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- 3번째 내용 -->
<div class="content 3" style="width:100%; height: 500px; top:2050px; overflow: hidden;">
    <div>
    </div>
    <div class="text-container" style="width:100%;">
        <div class="text text3" style="margin:20px 40px; display:none;">
            <span class="text-fitter1" style="font-size: 20px; color:#000000; font-weight: 400;">OUR<br> 
                MEMBER</span><br>
        </div>
        <div style="background-color: #e05247; padding:3px; width:95%; margin:0px auto; margin-top:20px;"></div>
        <div class="content3-member-container">
            <div class="content3-card" style="left:40px;">
                <img src="{% static 'img/people/people4.png' %}">
                <span class="content3-card-div">
                    이준성(76)<br>
                    <span style="font-size:13px; color:gray;">서울시 강남구 논현동 신도브래뉴</span><br><br>
                    <span style="font-size:14px;">" 안전하고 신속하게 물건을 전달해드리겠습니다. 잘 부탁드립니다."</span>
                </span>
            </div>
            <div class="content3-card" style="left:500px;">
                <img src="{% static 'img/people/people9.png' %}">
                <span class="content3-card-div">
                    고두심(73)<br>
                    <span style="font-size:13px; color:gray;">서울시 노원구 상계1동 미소지음</span><br><br>
                    <span style="font-size:14px;">" 최선을 다해 폐 끼쳐드리지 않도록 상자 안다치게 잘 전달해드릴게요 호호~"</span>
                </span>
            </div>
            <div class="content3-card" style="left:960px;">
                <img src="{% static 'img/people/people3.png' %}">
                <span class="content3-card-div">
                    이필두(78)<br>
                    <span style="font-size:13px; color:gray;">서울시 강남구 천호1동 스카이뷰</span><br><br>
                    <span style="font-size:14px;">" 롯데가 참 좋아~"</span>
                </span>
            </div>
            <div class="content3-card" style="left:1420px;">
                <img src="{% static 'img/people/people2.png' %}">
                <span class="content3-card-div">
                    이순재(68)<br>
                    <span style="font-size:13px; color:gray;">서울시 강남구 일원동 중앙하이츠빌</span><br><br>
                    <span style="font-size:14px;">" 퍼뜩 갈거니까 걱정마~ 걱정 붙들어매~"</span>
                </span>
            </div>
            <div class="content3-card" style="left:1880px;">
                <img src="{% static 'img/people/people12.png' %}">
                <span class="content3-card-div">
                    이화춘(74)<br>
                    <span style="font-size:13px; color:gray;">서울시 송파구 잠실2동 좋은집</span><br><br>
                    <span style="font-size:14px;">" 우리 손녀딸램들 고기 사줄라면 열심히 할게요~ 나 이화춘이여~!"</span>
                </span>
            </div>
            <div class="content3-card" style="left:2340px;">
                <img src="{% static 'img/people/people7.png' %}">
                <span class="content3-card-div">
                    최순길(76)<br>
                    <span style="font-size:13px; color:gray;">서울시 강남구 대치동 더샵</span><br><br>
                    <span style="font-size:14px;">" 내가 한평생 운동을 해가지고 끄덕없어 이정도는~"</span>
                </span>
            </div>
        </div>
        <div class="content3-button-container">
            <div style="position:absolute; top:5%; left:2%;">
                <a href="#" class="content3-button-l"><strong>〈</strong></a>
                &nbsp;&nbsp;&nbsp;
                <a href="#" class="content3-button-r"><strong>〉</strong></a>
            </div>
            <a class="content3-link" href="{% url 'members' %}">
                <div>모든 구성원 둘러보기</div>
            </a>
        </div>
    </div>
</div>

<!-- 핸드폰 둥둥 -->
<div class="img2_container">
    <div class="img2_text">온기를 더하다, <span style="color:#ec1d25">롯데 가온</span>
    </div>
    <div class="img2_image">
        <img class = "img2" src="{% static 'img/phone.png' %}">
    </div>
    <div>
        <img class = "rectangle" src="{% static 'img/rectangle.png' %}">
    </div>
    <div class="img2_background">
    </div>
</div>

<div class="img3_container">
    <div class="img3_text" style="display:none; width:100%; text-align: center;">
        지금, <span>가온앱</span>을 다운받아보세요
    </div>
    <div class="img3_image">
        <a class="apple" style="cursor:pointer;"><img src="{% static 'img/appstore.png' %}" style="width:190px; padding-bottom:7px;"></a>
        <a href="../static/img/1.png" download="hello.png"><img src="{% static 'img/playstore.png' %}" style="width:205px;"></a>
    </div>
</div>




{% endblock %}