{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="now_page" style="display:none;">members</div>
<div class="members_container">

        <div class="membersImg">
        <img src="{% static 'img/2.png' %}">
    </div>
    <div class="membersImg_text">
        가온 택배 구성원<br>
    </div>
    <form id="Search" action="{% url 'membersearch' %}" method="post">
        {% csrf_token %}
    <div class="search_bar_container">
        <input type="text" name="data" class="data" placeholder="검색어를 입력해주세요">
        <input type="submit" value="검색" id="click" class="click">

    </div>
    </form>
    <br>

</div>

{% for Profile in profiles %}
    {{Profile.nickname}}
    <br>
    <img src="{{Profile.profile_image.url}}" width="50">
    <br><br>
    {% endfor %}
{% endblock %}