{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="now_page" style="display:none;">mypage</div>
<div class="container">
    <div class="information-image" class="profile">
        <img src="{{profile.profile_image.url}}">
    </div>
    <br>
    <div class="information" style="line-height: 30px;">
        <span><strong>번호 : </strong>{{profile.user}}<br></span>
        <span><strong>닉네임 : </strong>{{profile.nickname}}({{profile.age}})<br></span>
        <span><strong>지역 : </strong>{{profile.service_place}}<br></span>
    </div>
    <a href="{% url 'setprofile' %}" class="btn"><div class="information-button">수정하기</div></a>
</div>
<div class="container2">
    <h2>택배 이력</h2><br>
    {% for Box in Boxes%}
    <div class="container3">
        {{forloop.revcounter}} &nbsp;&nbsp;&nbsp;|  
        &nbsp;&nbsp;&nbsp;운송장번호 : {{Box.box_number}}  &nbsp;&nbsp;&nbsp;|  
        {% if Box.status == "C" %}
        &nbsp;&nbsp;&nbsp;배송상태 : 배송완료 
        &nbsp;&nbsp;&nbsp; | 
        &nbsp;&nbsp;&nbsp; 완료시간 : {{Box.completed_at}} 
        {% else %}
        &nbsp;&nbsp;&nbsp;배송상태 : 배송중
        {% endif%}
    </div>
    {% endfor %}
</div>
{% endblock %}