{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="now_page" style="display:none;">signin</div>
{% if user.is_authenticated %}
로그인 성공!<br>
{{user.username}}님 환영합니다.
{% else %}
<section class="login">
    <img src="{% static 'img/logo.png' %}" alt="logo">
    <form action="" method="POST">
        {% csrf_token %}
        <input name="username" type="text" placeholder="전화번호" required><br>
        <input name="password" type="password" placeholder="비밀번호" required><br>
        <input type="submit" value="LOGIN">
    </form>

    <div>아직 롯데 가온의 회원이 아니신가요? 함께해요!</div>  
    <a href="{%url 'signup'%}">회원가입</a>
</section>
{% endif %}
{% endblock %}