{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="now_page" style="display:none;">signup</div>
{% if user.is_authenticated %}
로그인 성공!<br>
{{user.username}}님 환영합니다.
{% else %}
<section class="login">
    <img src="{% static 'img/logo.png' %}" alt="logo">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="username" type="text" minlength="11" maxlength="11" placeholder="전화번호 11자리 ('-' 제외)" required><br>
        <input name="password" type="password" minlength="8" maxlength="14" placeholder="비밀번호 (8자리 이상)" required><br>
        <input name="service_place" id="status" class="passValue" value="" style="visibility: hidden; width:0px; height:0px;"><br>
        <input name="nickname" type="text" placeholder="이름" maxlength="5"><br>
        <input name="birth" type="text" placeholder="생년월일(ex 410912)" maxlength="6"><br>
        <div class="signup_place_search"><span>지역검색</span><img src="{% static 'img/search.png' %}"></div><br>
        <input type="file" class="form-control" id="profile_image" name="profile_image" multiple><br>
        <input type="submit" value="회원가입"><br>
    </form>

    <div>이미 아이디가 있으신가요?</div>  
    <a href="{% url 'signin' %}">로그인</a>
</section>


{% endif %}
{% endblock %}