@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    overflow-x:hidden;
    width: 100%;
    height: 100%;
    padding-top: 70px;
}

html{
    overflow-x:hidden;
}

.background{
    position:absolute; 
    background-color: #fcf4f4; 
    width:60%;
    height: 1970px; 
    display: none; 
    top:700px; 
    right: 0;
    z-index: 0;
}




.img1_container{
    display: none;
    position: relative;
    width:90%;
    height:570px;
    margin:0px auto;
    overflow: hidden;
}

.img1_container img {
    width:100%;
    height:570px;
    object-fit: cover;
    vertical-align: middle;
}
.img1_text {
    font-size : 40px;
    color:white;
    font-weight: 500;
	text-align: center;
    position: absolute;
    transform:translate(-50%,-50%);
    top: 50%;
    left: 50%;
}


.content{
    position: absolute;
    width : 100%;
}
.contentImg1{
    width:40%; 
    float:left; 
    display:none;
    overflow: hidden;
}
.contentImg1 img{
    width:100%; 
    height:600px;
    object-fit: cover;
}



.content3-member-container{
    margin-top : 60px; 
    width:6000px; 
    height:220px; 
    position: relative;
    display:none;
}
.content3-member-container div{
    background-color:white;
    border-radius: 1px;
    width:420px; 
    height:220px; 
    position:absolute; 
    box-shadow:0px 0px 15px 0px #d3d3d3;
}

.content3-button-container{
    margin-top : 40px;
    position: relative;
    width:100%;
    height:60px;
    display:none;
}

.content3-button-l{
    font-size: 21px;
    color:#e051473f;
}
.content3-button-r{
    font-size: 21px;
    color:#e05247;
}

.content3-link{
    position:absolute; 
    top:5%; 
    right:10%;
}

.content3-link div{
    width:150px; 
    font-size: 13px;
    height:30px; 
    background-color:#e05247;
    text-align: center;
    line-height: 28px;
    color:white;
    border-radius: 5px;
    font-weight: 500;
}
.content3-link div:hover{
    background-color:#e03030;
}


.img2_container{
    top:2770px;
    position: absolute;
    width:100%;
    height: 550px;
}

.img2_container img {
    transform:translate(-50%,0%);
    bottom: 40px;
    left: 50%;
    width: 700px;
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0px 0px 5px rgba(179, 179, 179, 0.521));
}
.img2_text {
    transform:translate(-50%,0%);
    left: 50%;
    z-index: 3;
    position: absolute;
    bottom:560px;
    font-size : 30px;
    color : #877668;
    font-weight: 600;
    display:none;
}
.img2_background{
    width:0%;
    height: 160px;
    background-color:#e05247; 
    position: absolute;
    bottom: 0px;
    z-index: 1;
}


.img3_container{
    top:3400px;
    position: absolute;
    width:100%;
    height: 200px;
}
.img3_image{
    transform:translate(-40%,0%);
    top: 80px;
    left: 50%;
    width: 500px;
    position: absolute;
    z-index: 5;
}
.img3_text {
    transform:translate(-50%,0%);
    top: 0px;
    left: 50%;
    z-index: 6;
    position: absolute;
    font-size : 40px;
    color : #877668;
    font-weight: 600;
}
.img3_text span{
    color:#ec1d25;
    text-shadow: -0.5px 0 #8e9191, 0 0.5px #8e9191, 0.5px 0 #8e9191, 0 -0.5px #8e9191;
}




.switch{
    position:fixed; 
    text-align: center;
    z-index: 997;
    width:15px;
    right:2%; 
    bottom:50%;
}


.switch div{
    cursor:pointer;
    border-radius: 70%;
    background-color: white;
    margin-top:10px;
    width: 9px;
    height : 9px;
    border : 1.5px solid #e05247;
}