.login{
    text-align: center;
    padding: 50px;
    margin-top: 30px;
}

.login input {
    width: 350px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid #f0f0f0;
}

.login input[type=submit]{
    font-weight: 900;
    color: #28daaf;
    background-color: #fbfbfb;
    margin-bottom: 30px;
    border: 1px solid #f0f0f0;
}

.login div, a{
    color: #28daaf;
    text-decoration: none;
    margin: 5px;
}

.login a {
    font-weight: 900;
    font-size: 18px;
    color: #28daaf;
}

.login a:hover{
    text-decoration: none;
    color: #28daaf;
}

.login img {
    width: 120px;
    margin: 10px;
}

.signup {
    width: 425px;
    margin-top: 50px;
}

.signup input{
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}

.signup input[type=file]{
    display: inline;
}

.signup input[type=submit]{
    font-weight: 900;
    color: #28daaf;
    background-color: #fbfbfb;
    margin-bottom: 30px;
    border: 1px solid #f0f0f0;
}

.signup section{
    margin: 0 auto;
    font-size: 20px;
    color: #28daaf;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    clear: both;
}

.signup img {
    width: 120px;
}

.signup input[type=number]{
    border: 1px solid #d1d1d1;
    width: 100px;
}

.signup input[type=radio]{
    margin: 0;
    height: 18px;
}